RewriteEngine On
RewriteBase /pmbs/

# Skip existing files and folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to index.php
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
